//
// Typography
//

//$body-font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif !default;
$body-font-family: "Lexend Deca",Arial,sans-serif;
//$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace !default;
$mono-font-family: "Lexend Deca",Arial,sans-serif !default;
$root-font-size: 16px !default;         // Base font-size for rems
$body-line-height: 1.4 !default;
$content-line-height: 1.5 !default;
$body-heading-line-height: 1.15 !default !default;

//
// Colors
//

$white: #fff !default;

$grey-dk-000: #959396 !default;
$grey-dk-100: #5c5962 !default;
$grey-dk-200: #44434d !default;
$grey-dk-250: #302d36 !default;
$grey-dk-300: #27262b !default;

//$grey-lt-000: #f5f6fa !default;
//$grey-lt-100: #eeebee !default;
//$grey-lt-200: #ecebed !default;
//$grey-lt-300: #e6e1e8 !default;

$grey-lt-000: #fafafa;
$grey-lt-100: #eeeeee;
$grey-lt-200: #ededed;
$grey-lt-300: #e8e8e8;

$purple-000: #7253ed !default;
$purple-100: #5e41d0 !default;
$purple-200: #4e26af !default;
$purple-300: #381885 !default;

//$blue-000: #2c84fa !default;
//$blue-100: #2869e6 !default;
//$blue-200: #264caf !default;
//$blue-300: #183385 !default;

$blue-000: #cdd4dd;
$blue-100: #8093aa;
$blue-200: #335377;
$blue-300: #002856;

//$green-000: #41d693 !default;
//$green-100: #11b584 !default;
//$green-200: #009c7b !default;
//$green-300: #026e57 !default;

$green-000: #cdf2e8;
$green-100: #80e0c5;
$green-200: #32cca2;
$green-300: #00c08b;

$yellow-000: #ffeb82 !default;
$yellow-100: #fadf50 !default;
//$yellow-200: #f7d12e !default;
$yellow-300: #e7af06 !default;

$yellow-200: #FFC720;

$red-000: #f77e7e !default;
$red-100: #f96e65 !default;
$red-200: #e94c4c !default;
$red-300: #dd2e2e !default;

$body-background-color: $white !default;
$sidebar-color: $blue-300 !default;
$search-background-color: $white !default;
$table-background-color: $white !default;
$code-background-color: $grey-lt-000 !default;

$body-text-color: $grey-dk-100 !default;
$sidebar-text-color: $green-000;
$body-heading-color: $grey-dk-300 !default;
$search-result-preview-color: $grey-dk-000 !default;
$nav-child-link-color: $white !default;
$nav-grand-child-link-color: $blue-100 !default;
$link-color: $green-300 !default;
$btn-primary-color: $green-100 !default;
$base-button-color: #f7f7f7 !default;
$link-font-size: 20px !default;

$stable: #155724;
$stable-bg: #d4edda;
$stable-bg-border: #c3e6cb;

$experimental: #856404;
$experimental-bg: #fff3cd;
$experimental-bg-border: #ffeeba;

$depreciated: #721c24;
$depreciated-bg: #f8d7da;
$depreciated-bg-border: #f5c6cb;

$comment: #3d7e9a;

//
// Spacing
//

$spacing-unit: 1rem; // 1rem == 16px

$spacers: (
  sp-0: 0,
  sp-1: $spacing-unit * 0.25,
  sp-2: $spacing-unit * 0.5,
  sp-3: $spacing-unit * 0.75,
  sp-4: $spacing-unit,
  sp-5: $spacing-unit * 1.5,
  sp-6: $spacing-unit * 2,
  sp-7: $spacing-unit * 2.5,
  sp-8: $spacing-unit * 3,
  sp-9: $spacing-unit * 3.5,
  sp-10: $spacing-unit * 4
) !default;

$sp-1: map-get($spacers, sp-1) !default; // 0.25 rem == 4px
$sp-2: map-get($spacers, sp-2) !default; // 0.5  rem == 8px
$sp-3: map-get($spacers, sp-3) !default; // 0.75 rem == 12px
$sp-4: map-get($spacers, sp-4) !default; // 1    rem == 16px
$sp-5: map-get($spacers, sp-5) !default; // 1.5  rem == 24px
$sp-6: map-get($spacers, sp-6) !default; // 2    rem == 32px
$sp-7: map-get($spacers, sp-7) !default; // 2.5  rem == 40px
$sp-8: map-get($spacers, sp-8) !default; // 3    rem == 48px
$sp-9: map-get($spacers, sp-9) !default; // 4    rem == 48px
$sp-10: map-get($spacers, sp-10) !default; // 4.5  rem == 48px

//
// Borders
//

$border: 1px solid !default;
$border-radius: 4px !default;
$border-color: $grey-lt-100 !default;

//
// Grid system
//

$gutter-spacing: $sp-6 !default;
$gutter-spacing-sm: $sp-4 !default;
$nav-width: 264px !default;
//$nav-width: 450px !default;
$nav-width-md: 400px !default;
//$content-width: 800px !default;
$content-width: 1250px !default;
$header-height: 70px !default;
$header-margin: 30px 0px 30px 0px !default;
$search-results-width: 500px !default;
$background-image: url("https://terminusdb.com/img/cards/card-shape-1.svg");
$background-size: cover;
$navigation-margin: 40px;
$navigation-list-width: 350px;
$navigation-list-item: 20px;
$normal-font-size: 20px !default;
$small-font-size: 18px !important;

//
// Media queries in pixels
//

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: $content-width,
  lg: $content-width + $nav-width,
  xl: 1400px
) !default;
